body
{
    background-color: grey;
    font-family:sans-serif;
    text-align: center;
    align-items: center;
}

h1
{
    font-size: xx-large;
    font-family: sans-serif;
    text-align: center;
}

